## 이해영

## 필요한 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. HouseVotes84데이터에서 NaN의 값을 채워주세요
### 각 행마다 더 많은 y or n의 개수로 NaN의 값을 채워주세요
### 1번째 행은 y가 9개 n은 6개 이므로 NaN의 값을 y로 채우기

In [169]:
data = pd.read_csv("C:/Users/user/Desktop/이해영/큐시즘/머신러닝스터디/python 데이터 분석/data/HouseVotes84.csv")

In [170]:
data['n_count'] = (data[['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16']] == 'n').sum(axis=1)
data['y_count'] = (data[['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16']] == 'y').sum(axis=1)

data

,Class,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,n_count,y_count
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y,6,9
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN,8,7
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n,7,7
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y,9,6
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,6,10
430,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,10,6
431,republican,n,NaN,n,y,y,y,n,n,n,n,y,y,y,y,n,y,7,8
432,republican,n,n,n,y,y,y,NaN,NaN,NaN,NaN,n,y,y,y,n,y,5,7
433,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,NaN,n,7,8

In [171]:
for i in range(0, 434) :
    if data['n_count'][i] >= data['y_count'][i] :
        data.iloc[i] = data.iloc[i].fillna('n')
    elif data['n_count'][i] <= data['y_count'][i] :
        data.iloc[i] = data.iloc[i].fillna('y')
        
data

,Class,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,n_count,y_count
0,republican,n,y,n,y,y,y,n,n,n,y,y,y,y,y,n,y,6,9
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,n,8,7
2,democrat,n,y,y,n,y,y,n,n,n,n,y,n,y,y,n,n,7,7
3,democrat,n,y,y,n,n,y,n,n,n,n,y,n,y,n,n,y,9,6
4,democrat,y,y,y,n,y,y,n,n,n,n,y,y,y,y,y,y,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,6,10
430,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,10,6
431,republican,n,y,n,y,y,y,n,n,n,n,y,y,y,y,n,y,7,8
432,republican,n,n,n,y,y,y,y,y,y,y,n,y,y,y,n,y,5,7
433,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,y,n,7,8

## 2. 위에서 NaN값을 채운 data로 train/test를 7:3으로 분리하고 alpha=1을 적용해서 나이브베이즈 모델을 사용한 정확도를 출력해주세요

In [172]:
def convert(x) :
    if x == 'y' :
        return 1
    else : 
        return 0

In [173]:
for i in data.columns[1:]:
    data[i] = data[i].apply(convert)

data

,Class,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,n_count,y_count
0,republican,0,1,0,1,1,1,0,0,0,1,1,1,1,1,0,1,0,0
1,republican,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,0,0,0
2,democrat,0,1,1,0,1,1,0,0,0,0,1,0,1,1,0,0,0,0
3,democrat,0,1,1,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0
4,democrat,1,1,1,0,1,1,0,0,0,0,1,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,republican,0,0,1,1,1,1,0,0,1,1,0,1,1,1,0,1,0,0
430,democrat,0,0,1,0,0,0,1,1,1,1,0,0,0,0,0,1,0,0
431,republican,0,1,0,1,1,1,0,0,0,0,1,1,1,1,0,1,0,0
432,republican,0,0,0,1,1,1,1,1,1,1,0,1,1,1,0,1,0,0
433,republican,0,1,0,1,1,1,0,0,0,1,0,1,1,1,1,0,0,0

In [174]:
import random
x_data = data.iloc[:,1:]
y_data = data['Class']

from sklearn.model_selection import train_test_split

# train, test set분리 
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, 
                                                    test_size = 0.3, 
                                                    random_state = 7)

from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB(alpha = 1)

model.fit(X_train, y_train)

MultinomialNB(alpha=1)

In [176]:
y_pred = model.predict(X_test)
y_pred

array(['democrat', 'republican', 'republican', 'republican', 'democrat',
       'republican', 'democrat', 'democrat', 'democrat', 'democrat',
       'republican', 'republican', 'republican', 'republican', 'democrat',
       'republican', 'republican', 'republican', 'democrat', 'republican',
       'republican', 'republican', 'republican', 'republican', 'democrat',
       'democrat', 'democrat', 'democrat', 'republican', 'republican',
       'democrat', 'republican', 'democrat', 'democrat', 'democrat',
       'republican', 'democrat', 'democrat', 'republican', 'republican',
       'democrat', 'democrat', 'democrat', 'democrat', 'democrat',
       'democrat', 'democrat', 'democrat', 'democrat', 'republican',
       'democrat', 'democrat', 'democrat', 'democrat', 'republican',
       'democrat', 'democrat', 'democrat', 'republican', 'republican',
       'democrat', 'democrat', 'democrat', 'republican', 'democrat',
       'democrat', 'democrat', 'democrat', 'republican', 'republican',
       'democrat', 'republican', 'republican', 'democrat', 'democrat',
       'democrat', 'republican', 'democrat', 'republican', 'democrat',
       'democrat', 'democrat', 'republican', 'democrat', 'republican',
       'republican', 'democrat', 'republican', 'democrat', 'republican',
       'democrat', 'democrat', 'democrat', 'democrat', 'democrat',
       'republican', 'democrat', 'democrat', 'democrat', 'republican',
       'democrat', 'republican', 'republican', 'democrat', 'democrat',
       'democrat', 'democrat', 'republican', 'democrat', 'republican',
       'republican', 'republican', 'democrat', 'democrat', 'republican',
       'democrat', 'democrat', 'democrat', 'republican', 'republican',
       'democrat', 'democrat', 'democrat', 'democrat', 'democrat',
       'republican', 'republican', 'republican', 'democrat', 'democrat',
       'republican'], dtype='<U10')

In [177]:
sum(y_pred == y_test) / len(y_test)

0.9007633587786259

## 3. 아래의 리스트를 통하여 데이터프레임을 만들어주세요

In [281]:
x1 = [1, 1, 1 ,0]
x2 = [0, 1, 1, 0]
x3 = [1, 1, 0, 0]
y = [0, 1, 1, 0]

In [282]:
col = ['x1', 'x2', 'x3', 'y']
dic = {'x1':x1, 'x2':x2, 'x3':x3, 'y':y}

df = pd.DataFrame(dic)
df

   x1  x2  x3  y
0   1   0   1  0
1   1   1   1  1
2   1   1   0  1
3   0   0   0  0

## 4. root node의 entropy를 구해주세요

In [186]:
root = -(1/2)*np.log2(1/2) - (1/2)*np.log2(1/2)
print(root)

1.0

## 각 column의 entropy 정보이득을 계산해주는 함수를 만들어주세요

In [258]:
def both(column) : 
    count = 0

    for i in df.index :
        standard = (df[column][i] == 1 and df['y'][i] == 1)
    
        if standard == 1 :
            count += 1
        
    return count
            

def both_no(column) :
    count = 0
    
    for i in df.index :
        standard = (df[column][i] == 0 and df['y'][i] == 0)
    
        if standard == 1 :
            count += 1
        
    return count

In [264]:
entropy('x2', root)

nan
1.0
nan
0
0
0.0
-0.0
nan

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log2
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

nan

In [263]:
entropy('x3', root)

-1.0
1.0
1.0
0
0
0.0
-0.0
0.0

0.0

In [289]:
entropy(x1, root)

KeyError: "None of [Int64Index([1, 1, 1, 0], dtype='int64')] are in the [columns]"

In [3]:

잘생겼어?
잘생겼다 : -3/4(2/3 * log2(2/3) + 1/3 * log2(1/3))
못생겼다 : -1/4(1/1 * log2(1/1) + [1-(LOG1 값)] * log2([1-(LOG1 값)]))

0.31127812445913283

In [271]:
both_no('x1')

1

In [274]:
def entropy(column, root):
    
    if ( both(column) / sum(df[column] == 1) ) != 0 :
        LOG1 = ( both(column) / sum(df[column] == 1) ) * np.log2(( both(column) / sum(df[column] == 1) ))
    else :
        LOG1 = 0
    
    if (1 - ( both(column) / sum(df[column] == 1) )) != 0 :
        LOG2 = (1 - ( both(column) / sum(df[column] == 1) )) * np.log2((1 - ( both(column) / sum(df[column] == 1) )))
    else :
        LOG2 = 0
    
    LOG = LOG1 + LOG2
    FRONT = (sum(df[column] == 1)) / len(column)
    RE = - FRONT  * LOG
    
    front = 1 - FRONT
    
    
    
    try : 
        if (both_no(column) / (len(column) - (sum(df[column] == 1)))) != 0 :
            log1 = (both_no(column) / (len(column) - (sum(df[column] == 1))))  *  np.log2((both_no(column) / (len(column) - (sum(df[column] == 1)))))
        else :
            log1 = 0
    except ZeroDivisionError:
        log1 = 0
    
    try :
        if (1-(both_no(column) / (len(column) - (sum(df[column] == 1))))) != 0 :
            log2 = (1-(both_no(column) / (len(column) - (sum(df[column] == 1))))) * np.log2((1-(both_no(column) / (len(column) - (sum(df[column] == 1))))))
        else :
            log2 = 0
    except ZeroDivisionError:
        log2 = 0
    
    log = log1 + log2
    re = - front * log
    
    result = root - (RE + re)
    

    print(log1)
    print( (len(column) - (sum(df[column] == 1))))
    print((both_no(column) / (len(column) - (sum(df[column] == 1)))) )
    print(np.log2((both_no(column) / (len(column) - (sum(df[column] == 1))))))
    
    return result